/.venv
/143 ceiling impex pvt ltd.pdf
/AG Enterprises.xlsx
/anj-logo.png
/azure_ocr.py
/Consignee Names.txt
/Customer Names.txt
/Documentations
/img_text_aspriseAPI.py
/img_text_cv2.py
/img_text_easyocr.py
/img_text_pytesseract.py
/Invoice Samples
/Invoices.xlsx
/Lila Decor & Company.xlsx
/requirements.txt
/sample_analyze_invoices.py
/text_read_cv.py
/views.py
/__pycache__
/~$Invoices.xlsx